/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
html{
  margin: 0;
  padding: 0;
}
body {
  font: 16px/26px 'Scada', sans-serif;
  background: #1d1f26 url(../images/bg-map.jpg);
  margin: 0;
  padding: 0;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
a{
  color: #a4a9d6;
}   
a:hover{
	
}

/******* CONTAINER *******/

.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
  margin-bottom: 25px;
}

/**** MAIN LAYOUT ****/

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
  height: 700px;
}

.main .main-left {
  width: 25%;
	min-width: 400px;
	padding-right: 25px;
  padding-left: 20px;
  padding-top: 20px;
}
.main .main-right {
  width: 70%;
  padding: 20px 20px 0px 0px;
}


/***** RIGHT: MAP *****/
.main .main-right .map_container{
  position: relative;
  background-color: #141519;
  padding: 20px;
  border: 1px solid #373944;
  z-index: 1;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.main .main-right .map_container .map {
  display: inline-block;
  position: relative;
  padding-bottom: 675px;

  padding-top: 30px;

  /* IE6 workaround*/

  height: 0;
  width: 100%;
  overflow: hidden;
}

/***** SIDEBAR - MAIN LEFT *****/

h1.title{
  display: block;
  width: 180px;
  margin: 5px 0px 20px 0px;
  padding: 0;
  float: left;
}
ul#menu{
  display: block;
  width: 180px;
  position: relative;
  margin: 25px -26px 0px 30px;
  float: right;
  background-color: #141419;
  padding: 8px 20px 8px 0px;
  border: 1px solid #373944;
  border-right: none;
  z-index: 2;

  -webkit-border-radius: 7px 0px 0px 7px;
  -moz-border-radius: 7px 0px 0px 7px;
  border-radius: 7px 0px 0px 7px;
}
ul#menu li{
  margin: 5px 0px;
  list-style: none;
  font-weight: bold;
  text-align: right;
}
ul#menu li a{
  color: #a4a9d6;
  text-decoration: none;
}
ul#menu li a:hover{
  color: #fff;
}

.message{
	background-color: #f0f0f0;
	padding: 10px 20px;
	margin: 0px 0px 15px 0px;
	border: 1px solid red;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

/*** SEARCH FORM ***/
#searchForm{
  display: block;
  margin-bottom: 25px;
  margin-top: 25px;
}
#searchForm input.text{
  display: inline-block;
  width: 342px;
  padding: 10px;
  height: 18px;
  font-size: 1.1em;
  color: #444;
  outline: none;
  border: none;
  background-color: #eee;
  margin-right: -5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
#searchForm input.submit{
  display: inline-block;
  width: 38px;
  height: 38px;
  border: none;
  line-height: 38px;
  background: #eee url(../images/search.png) 4px 4px no-repeat;
  cursor: pointer;

  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.widget{
  margin-bottom: 25px;
}
.widget h3{
  display: inline-block;
  color: #f0f0f0;
  font-weight: bold;
  margin: 0;
  padding: 10px 30px 8px 30px;
  background-color: #141519;
  font-size: 24px;
  text-align: center;
  border: 1px solid #373944;
  border-bottom: none;
  margin-bottom: -1px;
  position: relative;
  z-index: 2;

  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}
.widget .widget_content{
  position: relative;
  z-index: 1;
  background-color: #141519;
  overflow: hidden;
  border: 1px solid #373944;

  -webkit-border-radius: 0px 7px 7px 7px;
  -moz-border-radius: 0px 7px 7px 7px;
  border-radius: 0px 7px 7px 7px;
}

/**** WIDGET: TAG CLOUD ****/
.widget_tags .widget_content{
  padding: 10px;
}
.widget_tags ul{
	margin: 0;
	padding: 0;
	line-height: 25px;
	text-align: center;
}
.widget_tags ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 2px;
}
.widget_tags ul li a{
	display: inline-block;
	padding: 1px 3px;
	background-color: transparent;
	text-decoration: none;
	color: #9dff8d;
  line-height: 22px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	opacity: 0.8;
	
}
.widget_tags ul li a:hover{
	background-color: #fff;
	color: #333;
	text-decoration: none;
	opacity: 1;
}
	
.widget_empresas{
}
.widget_empresas .widget_content{
  padding-bottom: 10px;
  padding-top: 10px;
}
.widget_empresas ul{
	display: block;
	margin: 0;
	padding: 0px 15px;
	height: 200px;
	overflow-y: scroll;
	position: relative;
	vertical-align: middle;
}
.widget_empresas ul li{
	list-style: none;
	display: table;
  width: 100%;
	background-color: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
  vertical-align: middle;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
	.widget_empresas ul li:nth-child(even){
		background-color: #1b1a20;
	}

.widget_empresas ul li .empresa_item{
	display: table-row;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.widget_empresas ul li .empresa_item a{
  display: block;
  text-decoration: none;
  color: #9dff8d;
}
.widget_empresas ul li .empresa_item a:hover{
  background-color: #222029;
  color: #fff;
}
.widget_empresas ul li .empresa_item span{
	display: table-cell;
	vertical-align: middle;
  padding: 12px 12px 3px 12px;
}
.widget_empresas ul li .empresa_item span h4{
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.widget_empresas ul li .empresa_item span h6{
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: normal;
  color: #3d3949;
}
.widget_empresas ul li .empresa_item a:hover span h6{
  color: #858495;
}
.widget_empresas ul li .empresa_item span.img{
	width: 50px;
	padding-right: 20px;
}

/***** FOOTER *****/
#footer{
  margin-top: 5px;
  background-color: #141519;
  overflow: hidden;
  color: #676675;
  padding: 15px 20px 12px 20px;
  text-align: center;
  line-height: 1.1em;
  font-size: 0.9em;
  border-top: 1px solid #373944;
}
  #footer .footer_content{
    width: 960px;
    margin: 0 auto;
  }
  #footer .footer_content .footer_lang{
    text-align: center;
    margin-bottom: 20px;
  }
  #footer .footer_content .footer_text{
    text-align: center;
    margin-bottom: 20px;
  }
  #footer a.cachirulo_logo{
    opacity: 0.3;

    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; /* Firefox 4 */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
  }
  #footer a.cachirulo_logo:hover{
    opacity: 1;
  }
  
  #footer a{
    text-decoration: none;
    color: #9391a8;
  }
  #footer a.power{
    color: #5fb66c;
  }
  #footer a:hover{
    text-decoration: underline;
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE
     ==================== */
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

img.thumbnail {
  height: 50px;
  width: 50px;
}


/***** PANEL CONTENT ****/

#panel{
  position: relative;
  border: 1px solid #373943;
  background-color: #141519;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: auto;
}
#panelContent {
  padding: 20px;
}
#closeButton {
  display: block;
  text-align: left;
  background: url(../images/close_icon.png) left 3px no-repeat;
  height: 22px;
  padding: 0px 0px 0px 23px;
  vertical-align: top;
  float: none;
  color: #f0f0f0;
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 8px 0px 0px 20px;
  cursor: pointer;
}
#closeButton:hover{
  color: #139530;
  text-decoration: underline;
}
.panelInside{
  background-color: #f0f0f0;
  color: #333;
  text-align: left;
  padding: 30px;
}
  .panelInside a{
    text-decoration: none;
    color: #008707;
  }
  .panelInside a:hover{
    color: #333;
    text-decoration: underline
  }
.contentAbout{
}
.contentAbout ul{
  display: block;
  border: 1px solid #bbb;
  background-color: #fff;

  margin: 0;
  padding: 20px;
  list-style: disc;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}
#lightbox{
  display: none;
  position: absolute;
  width: 400px;
  height: auto;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999
}
.page_content{
	background-color: #f0f0f0;
	padding: 25px !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.content_form{
	font-size: 1.1em;
}
.content_form h2{
	font-size: 1.6em;
	border-bottom: 1px solid #333;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 5px 0px;
}
.content_form_perfil form{
	margin-bottom: 25px;
}
.content_form .message{
	background-color: #fcffcc;
	padding: 10px 20px;
	margin: 0px 0px 15px 0px;
	border: 1px solid #bc980f;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.content_form p, .content_form .fieldcontain{
	margin-bottom: 1em;
}
.content_form p label, .content_form .fieldcontain label{
	font-weight: bold;
}
.content_form p input, .content_form .fieldcontain input, .content_form .fieldcontain textarea{
	font-size: 1em;
	padding: 5px 10px;
	width: 300px;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.content_form .fieldcontain input, .content_form .fieldcontain textarea{
	width: 80%;
}
.content_form .fieldcontain textarea{
	height: 80px;
}
.content_form p, .content_form .fieldcontainlogo input{
	border: none;
}
.content_form p.submit, .content_form fieldset.submit{
}
.content_form p.submit input, .content_form fieldset.submit input{
	width: auto;
	color: #28272f;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	background-color: #9396cd;
	padding: 7px 25px;
	cursor: pointer;
	border: 1px solid #31333c !important;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.content_form p.submit input:hover, .content_form fieldset.submit input:hover{
	background-color: #65e772;
	border: 1px solid #1d4120 !important;
	color: #1d4120;
}
.content_form .recover{
	font-size: 0.9em
}
.content_form .recover a{
	color: #565878;
	text-decoration: none;
}
.content_form .recover a:hover{
	text-decoration: underline;
}

/** 
* Company show
**/
.page_content_company{
	
}
a.company_logo{
	display: inline-block;
	float: right;
	width: auto;
	max-width: 30%;
	margin: 0px 25px 0px 30px;
}
a.company_logo img{
}
h1.company_title{
	font-size: 2em;
	margin: 0.8em 0px 0em 0px !important;	
}
	h1.company_title a{
		color: #333;
		text-decoration: none;
	}
	h1.company_title a:hover{
		color: #a4a9d6;
		text-decoration: underline;
	}
ul.company_social{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #888;
	margin-bottom: 1em;
}
ul.company_social li{
	display: inline;
}
ul.company_social li:after{
	content: " | ";
}
ul.company_social li:last-child:after{
	content: "";
}
ul.company_social li a{
	color: #3f4080;
	text-decoration: none;
}
ul.company_social li a:hover{
	color: #00760a;
	text-decoration: underline;
}
.company_description{
	line-height: 1.5em;
	font-size: 1.1em;
	margin-bottom: 1em;
}
.company_tags{
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin: 1em 0;
	padding: 0.5em 0;
}
.company_address{
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 1.1em;
	padding: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.logo{
  height: 150px;
}
