/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px 'Source Sans Pro', sans-serif;
}

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
a{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}   
a:hover{
	
}
   
.table {
  display: table;
  width: 100%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
  height: 700px;
}
.main .main-left {
	min-width: 300px;
	padding-right: 25px;
}
.main .main-right {
  width: 80%;
 }
.main .main-right .map {
  position: relative;
  padding-bottom: 675px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0px 0p  50px rgba(0, 0, 0, 0.2);
  box-shadow:         0px 0px 50px rgba(0, 0, 0, 0.2);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  /* 16/9 ratio */

  padding-top: 30px;
  /* IE6 workaround*/

  height: 0;
  width: 100%;
  overflow: hidden;
}

#menu li{display: inline;}

/***** SIDEBAR - MAIN LEFT *****/

.widget_tags{
	
}
.widget_tags ul{
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
}
.widget_tags ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 2px;
}
.widget_tags ul li a{
	display: inline-block;
	padding: 1px 4px;
	background-color: transparent;
	text-decoration: none;
	color: #0043EB;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	opacity: 0.8;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.widget_tags ul li a:hover{
	background-color: #0043EB;
	color: #fff;
	text-decoration: none;
	opacity: 1;
}
	
.widget_empresas{
	
}
.widget_empresas ul{
	display: block;
	margin: 0;
	padding: 0;
	height: 150px;
	border: 1px solid #ddd;
	overflow-y: scroll;
	position: relative;
	vertical-align: middle;
}
.widget_empresas ul li{
	list-style: none;
	display: table;
	width: 100%;
	padding: 5px 0px;
	background-color: transparent;
}
	.widget_empresas ul li:nth-child(even){
		background-color: #f0f0f0;
		padding-top: 5px;
	}
	
.widget_empresas ul li:hover{
	background-color: #F9EC98;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.widget_empresas ul li .empresa_item{
	display: table-row;
}
.widget_empresas ul li .empresa_item span{
	display: table-cell;
	vertical-align: middle;
}
.widget_empresas ul li .empresa_item span.img{
	width: 50px;
	padding-right: 20px;
}

/******* CONTAINER *******/
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE
     ==================== */
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

img.thumbnail {
  height: 50px;
  width: 50px;
}

div.panel{
  position:absolute;
  left:20%;
  top:0px;
  background-color:#00ff00;
}
